<%- include('header.ejs') %>

<body class="match">

<header class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h1><%= match.title %> <small id="subtitle"<% if (match.status === 'pending') { %> class="waiting"<% } %>><%= subtitle %></small></h1>
		</div>
	</div>
</header>
<article class="container-fluid board">
	<div class="row">
		<div class="col-xs-4 player">
			<h2><%= match['player-a'] %></h2>
			<div class="score" id="current-point-a"><%- currentPointA %></div>
		</div>
		<div class="col-xs-4 game">
			<div>
				<span id="serve-a" class="serve left<% if (match['current-serve'] === 'a' ) { %> visible<% } %>"></span>
				<span class="current-game" id="current-game"><%= match['current-game'] %></span>
				<span id="serve-b" class="serve right<% if (match['current-serve'] === 'b' ) { %> visible<% } %>"></span>
			</div>
		</div>
		<div class="col-xs-4 player">
			<h2><%= match['player-b'] %></h2>
			<div class="score" id="current-point-b"><%- currentPointB %></div>
		</div>
	</div>
	<% for (var i=0; i<(match.game*2-1); i++) { %>
	<div class="row">
		<div class="col-xs-5 fixed-score left" id="fixed-score-a-<%= i %>">
			<% if (match.result.length > i) { %><%- formattedResult[i][0] %><% } else { %><span class="dark">00</span><% } %>
		</div>
		<div class="col-xs-2 fixed-game-wrapper">
			<div>
				<span class="won<% if (match.result.length > i && match.result[i].won === 'a') { %> visible<% } %>" id="fixed-won-a-<%= i %>"></span>
				<span class="fixed-game"><%= (i+1) %></span>
				<span class="won<% if (match.result.length > i && match.result[i].won === 'b') { %> visible<% } %>" id="fixed-won-b-<%= i %>"></span>
			</div>
		</div>
		<div class="col-xs-5 fixed-score right" id="fixed-score-b-<%= i %>">
			<% if (match.result.length > i) { %><%- formattedResult[i][1] %><% } else { %><span class="dark">00</span><% } %>
		</div>
	</div>
	<% } %>
</article>
<footer class="footer">
	<div class="container-fluid">
		<a href="/match/judge/<%= match.id %>/" id="judge-link"<% if (match.status === 'pending') { %> class="waiting"<% } %>>I wanna be a judge of this match.</a>
	</div>
</footer>

<div class="anime swipe swipe1">
	<div class="inner">
		<div class="text"></div>
	</div>
</div>

<div class="anime swipe swipe2">
	<div class="inner">
		<div class="text"></div>
		<div class="text"></div>
	</div>
</div>

<div class="anime spiral">
	<div class="inner">
		<div class="text"></div>
	</div>
</div>

<%- include('commonjs.ejs') %>
<script>
var current = <%- currentMatch %>;
var ws = new WebSocket('<%= wsUri %>');
ws.onmessage = function(event) {
	var match = JSON.parse(event.data);
	if (match.id !== <%= match.id %>) {
		return;
	}
	if (match.started > 0) {
		$('#subtitle').text(formatDate(new Date(match.started))).removeClass('waiting');
	}
	['current-point-a', 'current-point-b'].forEach(function(id) {
		$('#' + id).html(formatPoint(match[id]));
	});
	$('#current-game').text(match['current-game']);
	for (var i=0; i<(match.game*2-1); i++) {
		$('#fixed-won-a-' + i).removeClass('visible');
		$('#fixed-won-b-' + i).removeClass('visible');
		if (match.result.length > i) {
			$('#fixed-score-a-' + i).html(formatPoint(match.result[i].scores[0]));
			$('#fixed-score-b-' + i).html(formatPoint(match.result[i].scores[1]));
			$('#fixed-won-' + match.result[i].won + '-' + i).addClass('visible');
		} else {
			$('#fixed-score-a-' + i).html('<span class="dark">00</span>');
			$('#fixed-score-b-' + i).html('<span class="dark">00</span>');
		}
	}
	$('.serve').removeClass('visible');
	$('#serve-' + match['current-serve']).addClass('visible');
	if (match.status !== 'pending') {
		$('#judge-link').removeClass('waiting');
	}
	(function() {
		if (current.status === 'pending' && match.status === 'ongoing') {
			animeSwipe(['Get', 'Ready']);
			setTimeout(function() {
				animeSpiral('Go!');
			}, 2000);
			return;
		}
		var pointA = match['current-point-a'];
		var pointB = match['current-point-b'];
		if (pointA === pointB && pointA >= (match.point - 1)) {
			var msg = (function() {
				if (pointA > match.point + 4) {
					var len = pointA - (match.point + 4);
					var msgs = [];
					for (var i = 0; i < len; i++) {
						msgs.push('OMG!')
					}
					return msgs.join(' ');
				} else if (pointA > match.point + 3) {
					return 'Unbelievable!';
				} else if (pointA > match.point + 2) {
					return 'Crazy!';
				} else if (pointA > match.point + 1) {
					return 'Awesome!';
				} else {
					return 'Deuce!';
				}
			})();
			animeSwipe([msg]);
			return;
		}
		if (current.status === 'ongoing' && match.status === 'finished') {
			animeSwipe(['The match', 'won by']);
			setTimeout(function() {
				animeSpiral(match['player-' + match.won] + '!!');
			}, 2000);
			return;
		}
		if (current['current-game'] < match['current-game']) {
			var game = match.result.length;
			var player = match.result[match.result.length - 1].won;
			var name = match['player-' + player];
			switch (game) {
				case 1:
					game = game + 'st';
					break;
				case 2:
					game = game + 'nd';
					break;
				case 3:
					game = game + 'rd';
					break;
				default:
					game = game + 'th';
			}
			animeSwipe([name + ' got', game + ' game!']);
		}
	})();

	current = match;
}
var animeSwipe = function(texts) {
	var $animeSwipe = $('.anime.swipe' + texts.length);
	clearTimeout($animeSwipe.data('tid'));
	$animeSwipe.removeClass('start');
	$animeSwipe.find('.text').empty();
	for (var i=0; i<texts.length; i++) {
		$animeSwipe.find('.text:nth-child(' + (i+1) + ')').text(texts[i]);
	}
	$animeSwipe.addClass('start');
	var tid = setTimeout(function() {
		$animeSwipe.removeClass('start');
	}, texts.length * 1500);
	$animeSwipe.data('tid', tid);
}
var $animeSpiral = $('.anime.spiral');
var animeSpiral = function(text) {
	clearTimeout($animeSpiral.data('tid'));
	$animeSpiral.removeClass('start');
	$animeSpiral.find('.text').text(text);
	$animeSpiral.addClass('start');
	var tid = setTimeout(function() {
		$animeSpiral.removeClass('start');
	}, 3000);
	$animeSpiral.data('tid', tid);
}
</script>

</body>
</html>
