<%- include('header.ejs') %>

<body>

<%- include('nav.ejs') %>

<div class="warning-panel">
	<div class="bg-warning text"></div>
</div>

<div class="container">
	<% if (match.status === 'pending') { %>
	<div class="page-header">
		<h1><%= match.title %></h1>
	</div>
	<form action="/match/judge/<%= match.id %>/" method="POST" class="form-horizontal">
		<div class="form-group<% if (errors['serve']) {%> has-error<%}%>">
			<label class="col-sm-4 control-label">First serve (required)</label>
			<div class="col-sm-8">
				<label class="radio-inline">
					<input type="radio" name="serve" value="a"<% if (params['serve'] === match['player-a']) { %> checked<% } %>> <%= match['player-a'] %>
				</label>
				<label class="radio-inline">
					<input type="radio" name="serve" value="b"<% if (params['serve'] === match['player-b']) { %> checked<% } %>> <%= match['player-b'] %>
				</label>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-8">
				<button type="submit" class="btn btn-default">Get started!</button>
			</div>
		</div>
	</form>
	<% } else { %>
	<div class="row judge-panel">
		<div class="col-xs-5 player">
			<h3><%= match['player-a'] %></h3>
			<div class="score" data-player="a" id="current-point-a"><%= match['current-point-a'] %></div>
		</div>
		<div class="col-xs-2 current-game">
			<h3>&nbsp;</h3>
			<div id="current-game"><%= match['current-game'] %></div>
		</div>
		<div class="col-xs-5 player">
			<h3><%= match['player-b'] %></h3>
			<div class="score" data-player="b" id="current-point-b"><%= match['current-point-b'] %></div>
		</div>
	</div>
	<div class="row judge-panel">
		<div class="col-xs-12">
			<button class="btn btn-warning btn-block" id="undo">Undo</button>
		</div>
	</div>
	<div class="row judge-panel">
		<div class="col-xs-4">
			<div><%= match['player-a'] %></div>
		</div>
		<% for (var i=0; i<(match.game*2-1); i++) { %>
		<div class="col-xs-1 fixed-score-wrapper">
			<div class="fixed-score<% if (match.result.length > i && match.result[i].won === 'a') { %> won<% } %>" id="fixed-score-a-<%= i %>">
				<% if (match.result.length > i) { %><%= match.result[i].scores[0] %><% } else { %>0<% } %>
			</div>
		</div>
		<% } %>
	</div>
	<div class="row judge-panel">
		<div class="col-xs-4">
			<div><%= match['player-b'] %></div>
		</div>
		<% for (var i=0; i<(match.game*2-1); i++) { %>
		<div class="col-xs-1 fixed-score-wrapper">
			<div class="fixed-score<% if (match.result.length > i && match.result[i].won === 'b') { %> won<% } %>" id="fixed-score-b-<%= i %>">
				<% if (match.result.length > i) { %><%= match.result[i].scores[1] %><% } else { %>0<% } %>
			</div>
		</div>
		<% } %>
	</div>
	<div class="row judge-panel">
		<div class="col-xs-6">
			<a href="/match/display/<%= match.id %>/" class="btn btn-primary btn-block">Show scoreboard</a>
		</div>
		<div class="col-xs-6">
			<button class="btn btn-danger btn-block" id="cancel">Cancel this match</button>
		</div>
	</div>
	<% } %>
</div>

<%- include('commonjs.ejs') %>
<script>
var $warning = $('.warning-panel');
var warning = function(text) {
	clearTimeout($warning.data('tid'));
	$warning.removeClass('show').find('.text').text(text);
	$warning.addClass('show');
	var tid = setTimeout(function() {
		$warning.removeClass('show');
	}, 2000);
	$warning.data('tid', tid);
}
<% if (match.status === 'ongoing') { %>
var current = <%- currentMatch %>;
var ws = new WebSocket('<%= wsUri %>');
$('.score').on('click', function() {
	if (current.status === 'finished' || current.status === 'cancelled') {
		warning('This match was ' + current.status + '.');
		return;
	}
	ws.send(JSON.stringify({
		id: <%= match.id %>,
		action: 'add',
		player: $(this).data('player')
	}));
});
$('#undo').on('click', function() {
	ws.send(JSON.stringify({
		id: <%= match.id %>,
		action: 'undo'
	}));
});
$('#cancel').on('click', function() {
	if (current.status === 'finished' || current.status === 'cancelled') {
		warning('This match was ' + current.status + '.');
		return;
	}
	ws.send(JSON.stringify({
		id: <%= match.id %>,
		action: 'cancel'
	}));
});
ws.onmessage = function(event) {
	var match = JSON.parse(event.data);
	if (match.id !== <%= match.id %>) {
		return;
	}
	['current-game', 'current-point-a', 'current-point-b'].forEach(function(id) {
		$('#' + id).text(match[id]);
	});
	for (var i=0; i<(match.game*2-1); i++) {
		if (match.result.length > i) {
			$('#fixed-score-a-' + i).text(match.result[i].scores[0]).removeClass('won');
			$('#fixed-score-b-' + i).text(match.result[i].scores[1]).removeClass('won');
			$('#fixed-score-' + match.result[i].won + '-' + i).addClass('won');
		} else {
			$('#fixed-score-a-' + i).text(0).removeClass('won');
			$('#fixed-score-b-' + i).text(0).removeClass('won');
		}
	}
	current = match;
}
<% } else if (match.status === 'finished' || match.status === 'cancelled') { %>
$('.score, #undo, #cancel').on('click', function() {
	warning('This match was <%= match.status %>.');
});
<% } %>
</script>
</body>
</html>
